@font-face {
	font-family: "damero";
	src: url("../fonts/damero.ttf");
}

.damero {
	font-family: damero;
}

.orbitron {
	font-family: 'Orbitron', sans-serif;
}

.stintUltraExpanded {
	font-family: 'Stint Ultra Expanded', cursive;
}

.gloriaHallelujah {
	font-family: 'Gloria Hallelujah', cursive;
}

.lobster {
	font-family: 'Lobster', cursive;
}